/* Setting the characteristics for the axis titles */
.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
  font-weight: bold;
  color: #89bdd3
}

/* for future use */
.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

/* for future use */
.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

/* for future use* /
.inactive:hover {
  fill: #000;
  cursor: pointer;
}

/* This sets the labels for the text within the bubbles */
.stateText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
  font-size: 10;
}

/* Sets up the color scheme for the bubbles */
.stateCircle {
  fill: #89bdd3;
  stroke: #e3e3e3;
}

/* Give the axis the width that they need */
.axis {
  stroke-width: 3px;
}

/* Displaying the chart and giving margins */
.chart {
  display: block;
  margin: 0;
}



/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}